.body{
  font-family:"Roboto";
}
.menu-item {
  list-style: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-link-secend {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.phone-nomber {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #434455;
}

.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #434455;
}
.email:hover,
.email:focus{
  color: #404BBF;
}

.menu-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus{
  color: #404BBF;
}

.main-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  text-align: center;
  letter-spacing: 0.02em;
  /*color: #FFFFFF;*/
}

.modal-btn {
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF
}
.modal-btn:hover,
.modal-btn:focus {
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-titles {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
